<!DOCTYPE html>
<html>
  <head>
   
    </header>

    <title>Customers</title>
  </head>

  <body>
    <h1>CUSTOMERS:</h1><br>
    <P>
    Alex Bustinburg<br>
    Luca Neji<br>
    Homura Kamisato<br>
    Nickoda Okada<br>
    </P>
     
    <h2>WHAT CUSTOMERS PAYED FOR:</h2><br>
    <p>     
    Alex Bustinburg:<br>
    Lagsana, fries and chicken, chicken salad and chicken bucket<br>

    Luca Neji:<br>
    Fries and chicken, black man combo.

    Homura Kamisato:<br>
    Black man combo, mac and cheese, fries and chicken.<br>

    Nickoda Okada:<br>
    Chicken sandwhich<br>

</p>


<h2>THE AMOUNT PAYED FOR EACH CUSTOMER</h2><br>
Alex Bustinburg<br>
Total:$69<br>

Luca Neji<br>
Total:32.99<br>

Homura Kamisato<br>
Total:44.99<br>

Nickoda Okada<br>
Total:12.90<br>


</body>
</html>
             
          
            
             