<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  

    <title>Restaurant Menu</title>
  </head>

  <body>
    <main class="container">
      <div class="menu">
        <h2 class="menu-group-heading">CHICKEN STUFF</h2>
        <div class="menu-group">
          <div class="menu-item">
            
        
            <div class="menu-item-text">
              <h3 class="menu-item-heading">
                <span class="menu-item-name">Chicken sandwitch</span>
                <span class="menu-item-price">$12.90</span>
              </h3>
              <p class="menu-item-desc">
               Well, its a chicken sandwitch just think for yourself moron.
              </p>
            </div>
          
            
            <div class="menu-item-text">
                <h3 class="menu-item-heading">
                  <span class="menu-item-name">Black man combo</span>
                  <span class="menu-item-price">$20.99</span>
                </h3>
                <p class="menu-item-desc">
              A chicken wrap with chicken breasts, spices and everything that makes this meal something black people love.
                </p>
              </div>

              <div class="menu-item-text">
                <h3 class="menu-item-heading">
                  <span class="menu-item-name">Chicken Bucket</span>
                  <span class="menu-item-price">$20.00</span>
                </h3>
                <p class="menu-item-desc">
              Bucket of chicken 
                </p>
              </div>

              <h2 class="menu-group-heading">Sides</h2>
        <div class="menu-group">
          <div class="menu-item">
            
        
         
          


              <div class="menu-item-text">
                <h3 class="menu-item-heading">
                  <span class="menu-item-name">Chicken salad</span>
                  <span class="menu-item-price">$12.00</span>
                </h3>
                <p class="menu-item-desc">
                 I think you know this one.
                </p>
              </div>
           
              
              <div class="menu-item-text">
                <h3 class="menu-item-heading">
                  <span class="menu-item-name">Garlic Mashed potatoes</span>
                  <span class="menu-item-price">$30.00</span>
                </h3>
                <p class="menu-item-desc">
                 A mashed potato salad with allot or garlic
                </p>
              </div>

              

              <div class="menu-item-text">
                <h3 class="menu-item-heading">
                  <span class="menu-item-name">Crab cake</span>
                  <span class="menu-item-price">$30.00</span>
                </h3>
                <p class="menu-item-desc">
                Yeah can someone explain?
                </p>
              </div>
              </div>

              <h2 class="menu-group-heading">Main course</h2>
        <div class="menu-group">
          <div class="menu-item">
            
        
            <div class="menu-item-text">
              <h3 class="menu-item-heading">
                <span class="menu-item-name">Fries and chicken</span>
                <span class="menu-item-price">$12.00</span>
              </h3>
              <p class="menu-item-desc">
             Fries and chicken
              </p>
            </div>
          
            <div class="menu-item-text">
                <h3 class="menu-item-heading">
                  <span class="menu-item-name">Mac and cheese</span>
                  <span class="menu-item-price">$12.00</span>
                </h3>
                <p class="menu-item-desc">
               Noice macaroni with the nicest of cheeses
                </p>
              </div>

              <div class="menu-item-text">
                <h3 class="menu-item-heading">
                  <span class="menu-item-name">lagsana</span>
                  <span class="menu-item-price">$25.00</span>
                </h3>
                <p class="menu-item-desc">
               Idk..
                </p>
              </div>
              </div>
            </body>
            </html>